body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #333;
  color: white;
  padding: 1em;
}

h1 {
  text-transform: uppercase;
}

nav {
  background-color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a:hover {
  background-color: #246A73;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 16px;
  border: none;
}

nav button {
  display: inline;
  margin: 0 15px;
}

section {
  margin: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
}

.column {
  float: left;
  width: 33.33%;
}


/* DROPDOWN */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #246A73;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #246A73;}

/* CONTACT FORM POPUP */
.open-button {
  position: relative;
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.form-popup {
  display: none;
  position: fixed;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #bcb8b1;
  border-radius: 10px;
  background-color: #bcb8b1;
  z-index: 10;
}

.form-container input {
  height: 20px;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.form-container input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #bcb8b1;
  color: white;
}

/* Add some hover effects to buttons */
.open-button:hover {background-color: #246A73;}
.form-container .btn:hover {background-color: gray;}
