/* FULL PAGE */
body {
  font-family: 'Source Code Pro', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  background: url("blackgreenblue.png") no-repeat fixed center/cover;
  color: white;
}

/* HEADER */
#header {
  background: transparent;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 8px 0;
  z-index: 9;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 16px;
}
.navbar a:hover {
  background: #bcb8b1;
  color: black;
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* SLIDE 1 */

/* SLIDE 2 */
.project {
  border: 1px solid white;
  width: 80%;
}
.column {
  float: left;
  width: 33.33%;
}

/* SLIDE 3 */

/* CONTACT FORM */
label {
  font-size: 14px;
  color: gray;
  display: block;
  margin-top: 10px;
}

/*
.form-container input, textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

.form-container input:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
}

.form-container .btn:hover {
  background: gray;
}

.form-container .cancel {
  background: #bcb8b1;
  color: white;
*/
